body {
  margin: 0;
  box-sizing: border-box;
  transition: all 1s;
}

.quote-text{
  font-size: 35px;
  transition: all 1s;
}

.author{
  font-size: 22px;
  text-align: right;
  transition: all 1s;
}





/* Quote Box Styling */

.quote-box{
  position:absolute;
  width: 40%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 30px 60px 60px 60px;
  background-color: #ffffff;
  border-radius: 5px;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}

.twitter-button{
  width: 50px;
  height:50px;
  font-size: 22px;
  border-radius: 5px;
  border:none;
  color: #ffffff;
  transition: all 1s;
}

.tumblr-button{
  width: 50px;
  height:50px;
  font-size: 22px;
  border-radius: 5px;
  margin-left: 10px;
  border:none;
  color: #ffffff;
  transition: all 1s;
}

.new-quote-button{
  height:50px;
  padding: 0px 20px 0px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: auto;
  border: none;
  color: #ffffff;
  transition: all 1s;
}
